.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background-color: #96a6ba;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inputContainer > input {
  padding: 8px;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
}

.inputContainer > input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 3px rgba(59, 130, 246, 0.1);
}

.button {
  background-color: rgba(13, 69, 136, 0.95);
  color: #cdd9e6;
  padding: 8px;
  border: none;
  border-radius: 8px;
  place-self: flex-end;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: rgba(27, 96, 181, 0.95);
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(59, 130, 246, 0.4);
}
